.con{
    width: 400px;
    height: 555px;
    border:1px solid rgb(98, 98, 98);
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: white;
    border-radius: 12px;

}
.con:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.outcon{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* gap:1px; */
    /* border:4px solid yellow; */
    
    

}
.images{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    /* border:1px solid blue ; */
}
#des{ 
    height: 100px;
    /* border: 1px solid red; */
    overflow:scroll;
}
#price{
    /* border: 1px solid darkmagenta; */
    text-wrap: 111px;
}
#PPP{
    color: rgb(98, 98, 98);
}
#productImage{
    /* border: 1px dotted fuchsia; */
    height: 150px;
}
#productName{
    /* border: 2px solid ; */
    height: 60px;
}
#Rat{
    color : rgb(98, 98, 98);
}
#cRating{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.telegram{
    margin-right: 10px;
    margin-top: -40px;
    background-color: #0088cc; /* Telegram-ның көк түсі */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 35px; /* Шеттерін дөңгелету */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    /* transition: background-color 0.3s ease, transform 0.2s ease; */
    display: flex;
    align-items: center;
    /* gap: 5px; */
}
button:last-of-type{
    background-color: rgb(255, 0, 179);
}
.telegram:hover{
    background-color: #006395;
}
#link:hover{
    background-color: rgb(155, 3, 115);
}
/* #rrr{
    border: 1px solid blue;
} */
#like{
margin-right: 30px;
margin-top: -40px;
background-color: #d9bd1d; /* Telegram-ның көк түсі */
color: white;
border: none;
padding: 10px 20px;
border-radius: 35px; /* Шеттерін дөңгелету */
font-size: 14px;
font-weight: bold;
cursor: pointer;
/* transition: background-color 0.3s ease, transform 0.2s ease; */
display: flex;
align-items: center;
}


