* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


body 
{
    background-color: #fff;
    color: #000;
}

.main-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}


.left-box
{
    flex: 5;
    padding-right: 70px;
}

.left-box h1
{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
    margin: 30px 0px;
    text-align: center;
}

.icon 
{
    position: absolute;
    margin: -10px -180px;
    height: 75px;
    width: auto;
}
.gradient {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.description
{
    justify-content: center;
    align-items: center;
}

.stories
{
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.right-box
{
    width: 450px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.right-box h3
{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.card
{
    display: flex;
    flex-direction: column;
}

input 
{
    width: 500px;
    height: 58px;
    padding: 15px;
    margin-bottom: 12px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    font-size: 15px;
}

input:hover
{
    border-color: rgb(115, 115, 115);
}

input:focus
{
    outline: none;
    border-color: rgb(115, 115, 115);
}
button
{
    width: 500px;
    height: 45px;
    padding: 8px;
    margin: 5px 0px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    
}

button[type="submit"]:first-of-type
{
    background-color: #9cc7f5;
    color: white;
    margin-top: 10px;
}

.button-primary
{
    background: none;
    color: rgb(47, 47, 47);
    font-size: 16px;
    margin-bottom: 30px;
}

.button-primary:hover
{
    background-color: #eeeded;
}

.button-facebook img
{
    width: 13px;
}

.button-facebook
{
    background: none;
    border: 1px solid #dbdbdb;
    color: rgb(47, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}

button:last-of-type
{
    background: none;
    color: #0064e0;
    border: 1px solid #0064e0;
}

.card h4
{
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(52, 52, 52);
    font-size: 15px;
    font-weight: 600;
    gap: 2px;
}


.btw-hr
{
    border: 0;
    border-top: 1px solid #dbdbdb;
    margin: 10px;
}


.footer
{
    padding: 20px 0 50px;
    text-align: center;
    color: #737373;
}

.footer-content ul 
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    margin-bottom: 15px;
}

.footer-content a
{
    text-decoration: none;
    color: #737373;
    font-size: 12px;
}
.footer-content a:hover
{
    text-decoration: underline;
}

.footer-content select
{
    border: none;
    color: #737373;
    background: none;
    font-size: 12px;
    cursor: pointer;
}


.copyright
{
    font-size: 12px;
    margin-top: 15px;
}

.line
{
    width: 3px;
    height: 750px;
    background-color: #dbdbdb;
    margin: -30px 30px;
    align-self: center;

}



